@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora);

body {
	text-align: center;
	color: 000;
	font-family: "Lora", Garamond, serif;
	margin: 0;
}

#nav {
	font-family: "Montserrat";
	text-align: center;
	padding: 8px;
	background-color: #000;
	font-size: .7em;
}

.nav_link {
	text-align: center;
	font-color: white;
	font-weight: bold;
}

#homepage {
	margin: 1.5em;
}

h1 {
	font-size: 2em;
	color: #e41a13;
	font-family: "Montserrat", Helvetica, sans-serif;
}

h2 {
	font-size: 1.5em;
	color: #e41a13;
	font-family: "Montserrat", Helvetica, sans-serif;
}

/*#about {
	background-color: #000;
	padding: 10px;
	color: #fff;*/
}

h3 {
	font-size: 1.3em;
}

hr {
	width: 150px;
}


a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #e41a13;
}

p {
	color: #000;
	font-size: 16px;
	line-height: 1.5em;
	margin: 2em;
}

ul {
	color: #000;
	text-align: left;
}

#contact_link {
	text-align: center;
	color: black;
	font-weight: bold;
}
