@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora);

body {
	text-align: center;
	font-family: Helvetica, sans-serif;
	color:#e41a13;
	margin: 0;
}

h1 {
	font-size: 40px;
}


hr {
	width: 200px;
}


a {
	text-decoration: none;
	font-weight: bolder;
	color: #000;
}

p {
	color: #000;
	font-weight: bold;
}

ul {
	color: #000;
	font-weight: bold;
	text-align: left;
}

#contact_link {
	text-align: left;
}